<div class="home">
  <h1>Bienvenue chez SushiGo!</h1>
  <p>Nous vous proposons une large sélection de plateaux de sushi pour satisfaire tous les goûts.</p>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/200" alt="Plateau 1">
        <div class="card-body">
          <h5 class="card-title">Plateau 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/200" alt="Plateau 2">
        <div class="card-body">
          <h5 class="card-title">Plateau 2</h5>
          <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/200" alt="Plateau 3">
        <div class="card-body">
          <h5 class="card-title">Plateau 3</h5>
          <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
      </div>
    </div>
  </div>
</div>
