<div class="content">
  <div class="box_details">
    <h2>{{ box?.nom }} <span>{{ box?.prix }} €</span></h2>

    <ul>
      <li><strong>Saveurs:</strong> {{ box?.saveurs }}</li>
      <li><strong>Aliments:</strong>
        <ul>
          <li *ngFor="let aliment of box?.aliments">{{ aliment.nom }} ({{ aliment.quantite }})</li>
        </ul>
      </li>
    </ul>
    <button (click)="ajouterAuPanier()">Ajouter au panier</button>
  </div>
</div>

<img src="{{urlImages}}{{ box?.image }}" alt="{{ box?.name }}">
