/* CSS pour la scrollbar */

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* scrollbar background */
::-webkit-scrollbar-track {
  background: transparent;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* scrollbar thumb on click */
::-webkit-scrollbar-thumb:active {
  background: yellow;
}

body {
  background-image: url('C:/developpement/JavaScript/sushis/src/img/sushibar.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1e1d1d;
}

